*
!.bashrc
!.gitignore
!.profile
!.Xresources
!/.config/
!/.config/alacritty/
!/.config/alacritty/alacritty.yml
!/.config/awesome/
!/.config/awesome/**
!/.config/bpytop/
!/.config/bpytop/bpytop.conf
!/.config/broot/
!/.config/broot/conf.toml
!/.config/dmenufm/
!/.config/dmenufm/dmenufm.conf
!/.config/dunst/
!/.config/dunst/dunstrc
!/.config/fish/
!/.config/fish/config.fish
!/.config/i3/
!/.config/i3/config
!/.config/mpd/
!/.config/mpd/*
!/.config/mpv/
!/.config/mpv/*
!/.config/pavolume/
!/.config/pavolume/pavolume.conf
!/.config/picom/
!/.config/picom/picom.conf
!/.config/polybar/
!/.config/polybar/**
!/.config/rofi/
!/.config/rofi/**
!/.config/sxiv/
!/.config/sxiv/exec/
!/.config/sxiv/exec/key-handler
!/.config/starship.toml
!/.config/mimeapps.list
!/.dwm/
!/.dwm/*
!/.ncmpcpp/
!/.ncmpcpp/config
!/.screenlayout/
!/.screenlayout/default.sh
!/.SpaceVim.d/
!/.SpaceVim.d/**
!/.wallpapers/
!/.wallpapers/**
!/bin/
!/bin/*
