*
!/.config/
!/.config/starship.toml

!/.config/alacritty/
!/.config/alacritty/alacritty.yml

!/.config/awesome/
!/.config/awesome/rc.lau

!/.config/broot/
!/.config/broot/conf.toml

!/.config/dmenufm/
!/.config/dmenufm/dmenufm.conf

!/.config/fish/
!/.config/fish/config.fish

!/.SpaceVim.d/
!/.SpaceVim.d/init.toml

!/.config/dunst/
!/.config/dunst/dunstrc

!/.config/polybar/
!/.config/polybar/**

!/.config/picom/
!/.config/picom/picom.conf

!/.config/rofi/
!/.config/rofi/*

!/.screenlayout/
!/.screenlayout/default.sh

!/.config/bpytop/
!/.config/bpytop/bpytop.conf

!/bin/
!/bin/*

!.bashrc
!.profile
!.gitignore
