configuration {
  sidebar-mode:            false;
  lines:                   5;
  columns:                 4;
  
}

entry {
  placeholder:             "Open Application";
}

element {
  orientation:             vertical;
  padding:                 15px 5px;
}

element-text {
  horizontal-align:        0.5;
  margin:                  0.5%;
}

element-icon {
  size:                    64px;
}

sidebar {
  enabled:                 false;
}