@import "~/.config/rofi/config.rasi"

* {
  sidebar-mode:            false;
  lines:                   3;
  columns:                 6;
  fullscreen:              true;
}

entry {
  placeholder:             "Search Files";
}

element {
  orientation:             vertical;
  padding:                 15px 5px;
}

element-text {
  horizontal-align:        0.5;
  margin:                  0.5%;
}

element-icon {
  size:                    175px;
}

sidebar {
  enabled:                 false;
}