configuration {
  sidebar-mode:            false;
  lines:                   3;
  columns:                 4;
  
}

entry {
  placeholder:             "Select Window";
}

element {
  orientation:             vertical;
  padding:                 15px 5px;
}

element-text {
  horizontal-align:        0.5;
  margin:                  0.5%;
  expand:                  false;
}

element-icon {
  size:                    300px;
}

sidebar {
  enabled:                 false;
}